serial --speed=115200
terminal_input serial
terminal_output serial

set timeout=15
set default=0

menuentry "Sisop Module 3 Challenge" {
  linux /boot/bzImage console=ttyS0
  initrd /boot/myramdisk.gz
}

menuentry "Dummy OS" {
  halt
}